# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# build / production
/dist
/.astro

# misc
.DS_Store
.env
.env.production
.env.local
.env.development
.env.staging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel

.vercel
.env*
